//main styling
.arena{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url('https://i.pinimg.com/originals/e1/fc/b1/e1fcb18c3d9cfc94f6d81d9994036c24.jpg');
  background-size: stretch;
  background-size: 100% 100%;
  &-header{
    display: flex;
    justify-content: center;
    margin: 5vh 0vh 5vh 0vh;
    &-text{
      font-size: 28px;
      color: red;
    }
  }
}